<div class="w-100 bg-primary min-h-48px fixed-top">
  <nav class="navbar container navbar-expand navbar-dark mb-0 py-1">
    <a class="navbar-brand" [routerLink]="['/articles']" [queryParams]="{ p: 1 }" translate>APP_NAME </a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navbar-menu"
      class="collapse navbar-collapse float-xs-none d-flex justify-content-center"
      [ngbCollapse]="menuHidden"
    >
      <div class="navbar-nav">
        <a
          class="nav-item nav-link text-uppercase"
          [routerLink]="['/articles']"
          [queryParams]="{ p: 1 }"
          routerLinkActive="active"
        >
          <i class="fas fa-home"></i>
          <span translate>Home</span>
        </a>
      </div>
    </div>
  </nav>
</div>
